* {
    font-family: "Segoe UI", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    transition-duration: .8s;
    -webkit-transition-duration: .8s; /* Safari */
}

body {
    position: relative;
    background-color: #0D1723;
}

.user-container {
    height: 800px;
    max-width: 900px;
    margin: 50px auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: normal;
    font-size: 45px;
}

h3 {
    font-size: 40px;
    margin: 0 0 30px 0;
}

h4 {
    font-size: 35px;
    margin: 0 0 30px 0;
}

h5 {
    font-size: 30px;
    margin: 30px 0 10px 0;
}

h1, h2, h3, h4, h5, a, p {
    margin: 2% 10% 0;
}

.chat-log-container {
    border: solid 1px;
    min-height: 10em;
    width: 80%;
    margin: auto;
    overflow-y: scroll;
    height: 40%;
}

.input-box-container,
.send-button-container {
    min-height: 1em;
    width: 80%;
    margin: auto;
}

button {
    border: solid 1px;
    background-color: #0D1723;
    padding: 0 10px;
}

.input-box {
    height: 100%;
    width: 100%;
    background-color: #0D1723;
    border: solid 1px;
}